

.sharedheadercommon-250-5637{
position:'' ;width: 100%; height: auto;  background-color: rgba(244,244,244,1.0);top:0px; left: 0;background:''}

.group-250-5638{
position:absolute ;width: 1440.0px; height: 73.0px;  background-color: rgba(0,0,0,0.0);top:0px; left: calc( ( ( 100% - 1440px) / 2 ) + 0px);background:''}

.group-250-5639{
position:absolute ;width: 1440.0px; height: 73.0px;  background-color: rgba(255,255,255,1.0);top:0px; left: 0px;background:''}

.vector-250-5640{
position: absolute;left: 1370.0px; top: 23.0px; width: 30.0px; height: 30.0}

.vector-250-5643{
position: absolute;left: 22.0px; top: 24.0px; width: 155.53781127929688px; height: 33.9761962890625}

.vector-250-5668{
position: absolute;left: 191.0px; top: 0.0px; width: 1.0px; height: 73.0}

.vector-250-5669{
position: absolute;left: 1326.0px; top: 23.0px; width: 30.0px; height: 30.0}

.vector-250-5676{
position: relative; width: 24.0px; height: 24.0}

.btn-backtodashboard-5673{
position: absolute;
 display: flex;
justify-content: center;
align-items: center;
left: 214.0px;
 top: 17.0px;
 width: 207.0px;
 height: 42.0px;
border-radius: 2.0px; background-color: rgba(237, 237, 237, 1.0);
 cursor: pointer;
font-size: 14.0px; color: rgba(34, 52, 132, 1.0); font-family: Gilroy-Bold; text-transform: uppercase; font-weight: 400;
border: none;}