

.corebaselinelistfinal-250-5374{
position:'' ;width: 100%; height: auto;  background-color: rgba(244,244,244,1.0);top:0px; left: 0;background:''}

.group-250-5415{
position:absolute ;width: 1440.0px; height: 84.0px;  background-color: rgba(244,244,244,1.0);top:69px; left: calc( ( ( 100% - 1440px) / 2 ) + 0px);background:''}

.text-250-5417{
position: absolute;
left: 25.0px;
 top: 23.0px;
 width: 185.0px;
 height: 29.0px;
font-size: 24.0px; color: rgba(23, 23, 54, 1.0); font-family: Gilroy-SemiBold; font-weight: 400;
}

.text-250-5418{
position: absolute;
left: 250.0px;
 top: 27.0px;
 width: 393.0px;
 height: 17.0px;
font-size: 14.0px; color: rgba(23, 23, 54, 1.0); font-family: Gilroy-Regular; font-weight: 400;
}

.vector-250-5419{
position: absolute;left: 230.0px; top: 15.0px; width: 1.0px; height: 46.0}

.group-250-5420{
position:absolute ;width: 159.0px; height: 36.0px;  background-color: rgba(0,0,0,0.0);top:19px; left: 1232px;border-radius: 2.0px;background:''}

.vector-250-5424{
position: relative; width: 24.0px; height: 24.0}

.btn-createbaseline-5421{
position: absolute;
 display: flex;
justify-content: center;
align-items: center;
left: 0.0px;
 top: 0.0px;
 width: 159.0px;
 height: 36.0px;
border-radius: 2.0px; background-color: rgba(34, 52, 132, 1.0);
 cursor: pointer;
font-size: 12.0px; color: rgba(255, 255, 255, 1.0); font-family: Gilroy-Bold; text-transform: uppercase; font-weight: 400;
border: none;}

.group-250-5426{
position:absolute ;width: 1373.0px; height: 44.0px;  background-color: rgba(34,52,132,1.0);top:153px; left: calc( ( ( 100% - 1440px) / 2 ) + 27px);background:''}

.group-250-5428{
position:absolute ;width: 127.0px; height: 24.0px;  background-color: rgba(0,0,0,0.0);top:10px; left: 10px;background:''}

.vector-250-5429{
position: absolute;left: 0.0px; top: 0.0px; width: 24.0px; height: 24.0}

.text-250-5434{
position: absolute;
left: 35.0px;
 top: 7.0px;
 width: 92.0px;
 height: 11.0px;
font-size: 16.0px; color: rgba(255, 255, 255, 1.0); font-family: Gilroy-Bold; font-weight: 400;
}

.vector-250-5437{
position: relative; width: 18.0px; height: 18.0}

.btn--5435{
position: absolute;
 display: flex;
justify-content: center;
align-items: center;
left: 1337.0px;
 top: 8.0px;
 width: 28.0px;
 height: 28.0px;
border-radius: 2.0px; background-color: rgba(74, 87, 145, 1.0);
 cursor: pointer;

border: none;}

.vector-250-5443{
position: relative; width: 18.0px; height: 18.0}

.btn--5441{
position: absolute;
 display: flex;
justify-content: center;
align-items: center;
left: 1298.0px;
 top: 8.0px;
 width: 28.0px;
 height: 28.0px;
border-radius: 2.0px; background-color: rgba(74, 87, 145, 1.0);
 cursor: pointer;

border: none;}

.group-250-5445{
position:absolute ;width: 1373.0px; height: 845.0px;  background-color: rgba(255,255,255,1.0);top:201px; left: calc( ( ( 100% - 1440px) / 2 ) + 27px);background:''}

.group-250-5447{
position:absolute ;width: 1353.0px; height: 147.0px;  background-color: rgba(0,0,0,0.0);top:8px; left: 9px;background:''}

.group-250-5448{
position:absolute ;width: 1353.0px; height: 147.0px;  background-color: rgba(255,255,255,1.0);top:0px; left: 0px;border-color:rgba(0, 0, 0, 0.05000000074505806);border-style:solid;background:''}

.vector-250-5449{
position: absolute;left: 1080.0px; top: 91.5px; width: 273.0px; height: 1.0}

.group-250-5450{
position:absolute ;width: 542.0px; height: 147.0px;  background-color: rgba(250,250,250,1.0);top:0px; left: 514px;border-color:rgba(0, 0, 0, 0.05000000074505806);border-style:solid;background:''}

.group-250-5451{
position:absolute ;width: 400.0px; height: 55.0px;  background-color: rgba(0,0,0,0.0);top:92px; left: 656px;background:''}

.group-250-5452{
position:absolute ;width: 400.0px; height: 55.0px;  background-color: rgba(203,203,203,0.10000000149011612);top:0px; left: 0px;border-color:rgba(0, 0, 0, 0.05000000074505806);border-style:solid;background:''}

.vector-250-5453{
position: absolute;left: 198.5px; top: 0.0px; width: 1.0px; height: 55.0}

.vector-250-5454{
position: absolute;left: 32.0px; top: 17.0px; width: 127.0px; height: 22.0}

.group-250-5465{
position:absolute ;width: 127.0px; height: 22.0px;  background-color: rgba(0,0,0,0.0);top:17px; left: 236px;background:''}

.vector-250-5466{
position: absolute;left: 0.0px; top: 0.0px; width: 127.0px; height: 22.0}

.group-250-5477{
position:absolute ;width: 107.0px; height: 22.0px;  background-color: rgba(0,0,0,0.0);top:14px; left: 1224px;background:''}

.img-250-5478{
position: absolute;left: 0.0px; top: 0.0px; width: 22.0px; height: 22.0px;}

.img-250-5479{
position: absolute;left: 16.0px; top: 0.0px; width: 21.0px; height: 22.0px;}

.img-250-5480{
position: absolute;left: 31.0px; top: 0.0px; width: 22.0px; height: 22.0px;}

.btn--5481{
position: absolute;
 display: flex;
justify-content: center;
align-items: center;
left: 56.0px;
 top: 0.0px;
 width: 51.0px;
 height: 21.0px;
border-radius: 4.0px; background-color: rgba(250, 250, 250, 1.0);
 cursor: pointer;
font-size: 12.0px; color: rgba(34, 52, 132, 1.0); font-family: Gilroy-SemiBold; text-transform: uppercase; font-weight: 400;
border: none;}

.group-250-5485{
position:absolute ;width: 41.0px; height: 147.0px;  background-color: rgba(0,0,0,0.0);top:0px; left: 0px;background:''}

.group-250-5486{
position:absolute ;width: 41.0px; height: 147.0px;  background-color: rgba(236,239,255,1.0);top:0px; left: 0px;border-color:rgba(0, 0, 0, 0.05000000074505806);border-style:solid;background:''}

.group-250-5487{
position:absolute ;width: 24.0px; height: 113.0px;  background-color: rgba(0,0,0,0.0);top:17px; left: 9px;background:''}

.vector-250-5488{
position: absolute;left: 2.0px; top: 43.0px; width: 20.0px; height: 20.0}

.vector-250-5490{
position: absolute;left: 0.0px; top: 91.0px; width: 24.0px; height: 22.0}

.checkbox-250-5494{
position: absolute;left: 5.0px; top: 0.0px; width: 15.0px; height: 15.0px;}

.group-250-5496{
position:absolute ;width: 412.9996337890625px; height: 67.3634033203125px;  background-color: rgba(0,0,0,0.0);top:54px; left: 61px;background:''}

.group-250-5497{
position:absolute ;width: 200.4854736328125px; height: 17.6427001953125px;  background-color: rgba(0,0,0,0.0);top:25px; left: 0px;background:''}

.group-250-5498{
position:absolute ;width: 84.20388793945312px; height: 17.6427001953125px;  background-color: rgba(203,203,203,0.10000000149011612);top:0px; left: 0px;border-radius: 3.2077670097351074px;background:''}

.vector-250-5499{
position: absolute;left: 3.207763671875px; top: 3.0679931640625px; width: 10.42523193359375px; height: 10.42529296875}

.text-250-5501{
position: absolute;
left: 91.4208984375px;
 top: 5.4744873046875px;
 width: 76.0px;
 height: 7.0px;
font-size: 10.0px; color: rgba(23, 23, 54, 1.0); font-family: Gilroy-SemiBold; font-weight: 400;
}

.text-250-5502{
position: absolute;
left: 19.2470703125px;
 top: 5.4744873046875px;
 width: 54.0px;
 height: 6.0px;
font-size: 8.0px; color: rgba(136, 131, 131, 1.0); font-family: Gilroy-SemiBold; font-weight: 400;
}

.group-250-5503{
position:absolute ;width: 202.8912353515625px; height: 17.6427001953125px;  background-color: rgba(0,0,0,0.0);top:25px; left: 210px;background:''}

.group-250-5504{
position:absolute ;width: 75.38250732421875px; height: 17.6427001953125px;  background-color: rgba(203,203,203,0.10000000149011612);top:0px; left: 0px;border-radius: 3.2077670097351074px;background:''}

.vector-250-5505{
position: absolute;left: 3.31640625px; top: 3.068359375px; width: 10.42523193359375px; height: 10.42529296875}

.text-250-5507{
position: absolute;
left: 85.1142578125px;
 top: 5.4736328125px;
 width: 81.0px;
 height: 7.0px;
font-size: 10.0px; color: rgba(23, 23, 54, 1.0); font-family: Gilroy-SemiBold; font-weight: 400;
}

.text-250-5508{
position: absolute;
left: 19.3544921875px;
 top: 5.474609375px;
 width: 48.0px;
 height: 6.0px;
font-size: 8.0px; color: rgba(136, 131, 131, 1.0); font-family: Gilroy-SemiBold; font-weight: 400;
}

.group-250-5509{
position:absolute ;width: 200.4854736328125px; height: 17.6427001953125px;  background-color: rgba(0,0,0,0.0);top:50px; left: 0px;background:''}

.group-250-5510{
position:absolute ;width: 84.20388793945312px; height: 17.6427001953125px;  background-color: rgba(203,203,203,0.10000000149011612);top:0px; left: 0px;border-radius: 3.2077670097351074px;background:''}

.vector-250-5511{
position: absolute;left: 3.207763671875px; top: 2.928466796875px; width: 10.42523193359375px; height: 10.42529296875}

.text-250-5513{
position: absolute;
left: 91.4208984375px;
 top: 5.333984375px;
 width: 39.0px;
 height: 7.0px;
font-size: 10.0px; color: rgba(23, 23, 54, 1.0); font-family: Gilroy-SemiBold; font-weight: 400;
}

.text-250-5514{
position: absolute;
left: 19.2470703125px;
 top: 5.333984375px;
 width: 54.0px;
 height: 6.0px;
font-size: 8.0px; color: rgba(136, 131, 131, 1.0); font-family: Gilroy-SemiBold; font-weight: 400;
}

.group-250-5515{
position:absolute ;width: 202.8912353515625px; height: 17.6427001953125px;  background-color: rgba(0,0,0,0.0);top:50px; left: 210px;background:''}

.group-250-5516{
position:absolute ;width: 93.0252685546875px; height: 17.6427001953125px;  background-color: rgba(203,203,203,0.10000000149011612);top:0px; left: 0px;border-radius: 3.2077670097351074px;background:''}

.vector-250-5517{
position: absolute;left: 3.31640625px; top: 2.9287109375px; width: 10.42523193359375px; height: 10.42529296875}

.text-250-5519{
position: absolute;
left: 105.1630859375px;
 top: 5.333984375px;
 width: 83.0px;
 height: 7.0px;
font-size: 10.0px; color: rgba(23, 23, 54, 1.0); font-family: Gilroy-SemiBold; font-weight: 400;
}

.text-250-5520{
position: absolute;
left: 19.3544921875px;
 top: 5.333984375px;
 width: 70.0px;
 height: 6.0px;
font-size: 8.0px; color: rgba(136, 131, 131, 1.0); font-family: Gilroy-SemiBold; font-weight: 400;
}

.group-250-5521{
position:absolute ;width: 200.4854736328125px; height: 17.6427001953125px;  background-color: rgba(0,0,0,0.0);top:0px; left: 0px;background:''}

.group-250-5522{
position:absolute ;width: 84.20388793945312px; height: 17.6427001953125px;  background-color: rgba(203,203,203,0.10000000149011612);top:0px; left: 0px;border-radius: 3.2077670097351074px;background:''}

.vector-250-5523{
position: absolute;left: 4.00970458984375px; top: 3.207763671875px; width: 9.623291015625px; height: 9.623291015625}

.text-250-5525{
position: absolute;
left: 91.4208984375px;
 top: 5.61328125px;
 width: 110.0px;
 height: 7.0px;
font-size: 10.0px; color: rgba(23, 23, 54, 1.0); font-family: Gilroy-SemiBold; font-weight: 400;
}

.text-250-5526{
position: absolute;
left: 19.2470703125px;
 top: 5.61328125px;
 width: 51.0px;
 height: 6.0px;
font-size: 8.0px; color: rgba(136, 131, 131, 1.0); font-family: Gilroy-SemiBold; font-weight: 400;
}

.group-250-5527{
position:absolute ;width: 202.8912353515625px; height: 17.6427001953125px;  background-color: rgba(0,0,0,0.0);top:0px; left: 210px;background:''}

.vector-250-5530{
position: relative; width: 7.0px; height: 9.800048828125}

.btn--5528{
position: absolute;
 display: flex;
justify-content: center;
align-items: center;
left: 0.1083984375px;
 top: 0.0px;
 width: 53.0px;
 height: 17.800048828125px;
border-radius: 3.2077670097351074px; background-color: rgba(203, 203, 203, 0.10000000149011612);
 cursor: pointer;

border: none;}

.vector-250-5536{
position: relative; width: 12.8310546875px; height: 12.8310546875}

.btn--5534{
position: absolute;
 display: flex;
justify-content: center;
align-items: center;
left: 72.28314208984375px;
 top: 0.0px;
 width: 77.27569580078125px;
 height: 17.6427001953125px;
border-radius: 1.6038835048675537px; background-color: rgba(179, 235, 203, 1.0);
 cursor: pointer;

border: none;}

.group-250-5540{
position:absolute ;width: 100.0px; height: 22.0px;  background-color: rgba(0,0,0,0.0);top:109px; left: 533px;background:''}

.dropdown-250-5541{
position: absolute;left: 0.0px; top: 0.0px;background-color: rgba(219, 222, 235, 1.0);; width: 100.0px; height: 22.0px;
font-size: 9.0px; color: rgba(34, 52, 132, 1.0); font-family: Gilroy-SemiBold;
}

.group-250-5548{
position:absolute ;width: 508.0px; height: 63.0px;  background-color: rgba(0,0,0,0.0);top:16px; left: 533px;background:''}

.group-250-5549{
position:absolute ;width: 508.0px; height: 63.0px;  background-color: rgba(0,0,0,0.0);top:0px; left: 0px;background:''}

.group-250-5550{
position:absolute ;width: 78.0px; height: 18.0px;  background-color: rgba(0,0,0,0.0);top:0px; left: 0px;background:''}

.group-250-5551{
position:absolute ;width: 78.0px; height: 18.0px;  background-color: rgba(219,222,235,1.0);top:0px; left: 0px;border-radius: 3.2077670097351074px;background:''}

.vector-250-5552{
position: absolute;left: 5.0px; top: 4.0px; width: 11.0px; height: 11.0}

.text-250-5554{
position: absolute;
left: 19.35546875px;
 top: 5.61328125px;
 width: 50.0px;
 height: 6.0px;
font-size: 8.0px; color: rgba(0, 0, 0, 1.0); font-family: Gilroy-SemiBold; font-weight: 400;
}

.text-250-5555{
position: absolute;
left: 0.0px;
 top: 37.0px;
 width: 508.0px;
 height: 26.0px;
font-size: 10.0px; color: rgba(23, 23, 54, 1.0); font-family: Gilroy-Medium; font-weight: 400;
}

.text-250-5556{
position: absolute;
left: 100.0px;
 top: 2.0px;
 width: 408.0px;
 height: 18.0px;
font-size: 9.0px; color: rgba(180, 174, 174, 1.0); font-family: Gilroy-Medium; font-weight: 400;
}

.group-250-5557{
position:absolute ;width: 258.0px; height: 28.0px;  background-color: rgba(0,0,0,0.0);top:106px; left: 1075px;border-radius: 2.0px;background:''}

.vector-250-5560{
position: relative; width: 18.0px; height: 18.0}

.btn--5558{
position: absolute;
 display: flex;
justify-content: center;
align-items: center;
left: 230.0px;
 top: 0.0px;
 width: 28.0px;
 height: 28.0px;
border-radius: 2.0px; background-color: rgba(222, 252, 235, 1.0);
 cursor: pointer;

border: none;}

.vector-250-5565{
position: relative; width: 18.0px; height: 18.0}

.btn--5563{
position: absolute;
 display: flex;
justify-content: center;
align-items: center;
left: 184.0px;
 top: 0.0px;
 width: 28.0px;
 height: 28.0px;
border-radius: 2.0px; background-color: rgba(255, 232, 229, 1.0);
 cursor: pointer;

border: none;}

.vector-250-5570{
position: relative; width: 18.0px; height: 18.0}

.btn--5568{
position: absolute;
 display: flex;
justify-content: center;
align-items: center;
left: 138.0px;
 top: 0.0px;
 width: 28.0px;
 height: 28.0px;
border-radius: 2.0px; background-color: rgba(211, 234, 253, 1.0);
 cursor: pointer;

border: none;}

.vector-250-5579{
position: relative; width: 18.0px; height: 18.0}

.btn--5577{
position: absolute;
 display: flex;
justify-content: center;
align-items: center;
left: 92.0px;
 top: 0.0px;
 width: 28.0px;
 height: 28.0px;
border-radius: 2.0px; background-color: rgba(211, 234, 253, 1.0);
 cursor: pointer;

border: none;}

.vector-250-5585{
position: relative; width: 18.0px; height: 18.0}

.btn--5583{
position: absolute;
 display: flex;
justify-content: center;
align-items: center;
left: 46.0px;
 top: 0.0px;
 width: 28.0px;
 height: 28.0px;
border-radius: 2.0px; background-color: rgba(211, 234, 253, 1.0);
 cursor: pointer;

border: none;}

.vector-250-5591{
position: relative; width: 18.0px; height: 18.0}

.btn--5589{
position: absolute;
 display: flex;
justify-content: center;
align-items: center;
left: 0.0px;
 top: 0.0px;
 width: 28.0px;
 height: 28.0px;
border-radius: 2.0px; background-color: rgba(211, 234, 253, 1.0);
 cursor: pointer;

border: none;}

.group-250-5593{
position:absolute ;width: 195.0px; height: 14.0px;  background-color: rgba(0,0,0,0.0);top:16px; left: 66px;background:''}

.vector-250-5594{
position: absolute;left: 0.0px; top: 0.0px; width: 14.0px; height: 14.0}

.text-250-5608{
position: absolute;
left: 30.0px;
 top: 2.0px;
 width: 165.0px;
 height: 10.0px;
font-size: 14.0px; color: rgba(33, 150, 243, 1.0); font-family: Gilroy-Bold; font-weight: 400;
}

.vector-250-5609{
position: absolute;left: 514.0px; top: 91.5px; width: 566.0px; height: 1.0}

.group-250-5610{
position:absolute ;width: 260.0px; height: 32.0px;  background-color: rgba(0,0,0,0.0);top:47px; left: 1075px;background:''}

.group-250-5611{
position:absolute ;width: 193.0px; height: 32.0px;  background-color: rgba(250,250,250,1.0);top:0px; left: 31px;border-radius: 2.0px;border-color:rgba(164, 232, 200, 1.0);border-style:solid;background:''}

.vector-250-5612{
position: absolute;left: 0.0px; top: 0.0px; width: 29.0px; height: 27.0}

.text-250-5620{
position: absolute;
left: 39.0px;
 top: 8.0px;
 width: 185.0px;
 height: 17.0px;
font-size: 8.0px; color: rgba(170, 164, 165, 1.0); font-family: Gilroy-SemiBold; font-weight: 400;
}

.vector-250-5623{
position: relative; width: 18.0px; height: 18.0}

.btn--5621{
position: absolute;
 display: flex;
justify-content: center;
align-items: center;
left: 232.0px;
 top: 2.0px;
 width: 28.0px;
 height: 28.0px;
border-radius: 2.0px; background-color: rgba(211, 234, 253, 1.0);
 cursor: pointer;

border: none;}

.text-250-5625{
position: absolute;
left: 1142.0px;
 top: 23.0px;
 width: 70.0px;
 height: 6.0px;
font-size: 9.0px; color: rgba(34, 52, 132, 1.0); font-family: Gilroy-SemiBold; font-weight: 400;
}

.group-250-5626{
position:absolute ;width: 1440.0px; height: 41.0px;  background-color: rgba(244,244,244,1.0);top:1079px; left: calc( ( ( 100% - 1440px) / 2 ) + 0px);background:''}

.text-250-5628{
position: absolute;
left: 27.0px;
 top: 10.0px;
 width: 241.0px;
 height: 21.0px;
font-size: 12.0px; color: rgba(23, 23, 54, 1.0); font-family: Gilroy-Regular; font-weight: 400;
}