<div class="corebaselinelistfinal-250-5374" name="Core@Base line list Final">
 <app-header>
 </app-header>
 <div class="group-250-5415" name="Group">
  <label class="text-250-5417" type="text" value="Base line List">
   Base line List
  </label>
  <label class="text-250-5418" type="text" value="The main list of the ‘Base Lines’ section">
   The main list of the ‘Base Lines’ section
  </label>
  <img class="vector-250-5419" src="assets/images/Core/base-line-list-final/vector-250_5419.svg"/>
  <div class="group-250-5420" name="Group">
   <button class="btn-createbaseline-5421" type="button">
    <img class="vector-250-5424" src="assets/images/Core/base-line-list-final/vector-250_5424.svg"/>
    Create Base line
   </button>
  </div>
 </div>
 <div class="group-250-5426" name="Group">
  <div class="group-250-5428" name="Group">
   <img class="vector-250-5429" src="assets/images/Core/base-line-list-final/vector-250_5429.svg"/>
   <label class="text-250-5434" type="text" value="Base Lines">
    Base Lines
   </label>
  </div>
  <button class="btn--5435" type="button">
   <img class="vector-250-5437" src="assets/images/Core/base-line-list-final/vector-250_5437.svg"/>
  </button>
  <button class="btn--5441" type="button">
   <img class="vector-250-5443" src="assets/images/Core/base-line-list-final/vector-250_5443.svg"/>
  </button>
 </div>
 <div class="group-250-5445" name="Group">
  <div class="group-250-5447" name="Group">
   <div class="group-250-5448" name="Group">
   </div>
   <img class="vector-250-5449" src="assets/images/Core/base-line-list-final/vector-250_5449.svg"/>
   <div class="group-250-5450" name="Group">
   </div>
   <div class="group-250-5451" name="Group">
    <div class="group-250-5452" name="Group">
    </div>
    <img class="vector-250-5453" src="assets/images/Core/base-line-list-final/vector-250_5453.svg"/>
    <img class="vector-250-5454" src="assets/images/Core/base-line-list-final/vector-250_5454.svg"/>
    <div class="group-250-5465" name="Group">
     <img class="vector-250-5466" src="assets/images/Core/base-line-list-final/vector-250_5466.svg"/>
    </div>
   </div>
   <div class="group-250-5477" name="Group">
    <img class="img-250-5478" src="assets/images/Core/base-line-list-final/img-250_5478.png"/>
    <img class="img-250-5479" src="assets/images/Core/base-line-list-final/img-250_5479.png"/>
    <img class="img-250-5480" src="assets/images/Core/base-line-list-final/img-250_5480.png"/>
    <button class="btn--5481" type="button">
     +3
    </button>
   </div>
   <div class="group-250-5485" name="Group">
    <div class="group-250-5486" name="Group">
    </div>
    <div class="group-250-5487" name="Group">
     <img class="vector-250-5488" src="assets/images/Core/base-line-list-final/vector-250_5488.svg"/>
     <img class="vector-250-5490" src="assets/images/Core/base-line-list-final/vector-250_5490.svg"/>
     <div class="checkbox-250-5494">
      <lib-quick-radiocheck [config]="checkboxconfig2505494">
      </lib-quick-radiocheck>
     </div>
    </div>
   </div>
   <div class="group-250-5496" name="Group">
    <div class="group-250-5497" name="Group">
     <div class="group-250-5498" name="Group">
     </div>
     <img class="vector-250-5499" src="assets/images/Core/base-line-list-final/vector-250_5499.svg"/>
     <label class="text-250-5501" type="text" value="921409198-87861">
      921409198-87861
     </label>
     <label class="text-250-5502" type="text" value="Base Line ID">
      Base Line ID
     </label>
    </div>
    <div class="group-250-5503" name="Group">
     <div class="group-250-5504" name="Group">
     </div>
     <img class="vector-250-5505" src="assets/images/Core/base-line-list-final/vector-250_5505.svg"/>
     <label class="text-250-5507" type="text" value="Emergency Room">
      Emergency Room
     </label>
     <label class="text-250-5508" type="text" value="Dept: Type">
      Dept: Type
     </label>
    </div>
    <div class="group-250-5509" name="Group">
     <div class="group-250-5510" name="Group">
     </div>
     <img class="vector-250-5511" src="assets/images/Core/base-line-list-final/vector-250_5511.svg"/>
     <label class="text-250-5513" type="text" value="Site1_ED">
      Site1_ED
     </label>
     <label class="text-250-5514" type="text" value="Dept: Group">
      Dept: Group
     </label>
    </div>
    <div class="group-250-5515" name="Group">
     <div class="group-250-5516" name="Group">
     </div>
     <img class="vector-250-5517" src="assets/images/Core/base-line-list-final/vector-250_5517.svg"/>
     <label class="text-250-5519" type="text" value="Registered Nurses">
      Registered Nurses
     </label>
     <label class="text-250-5520" type="text" value="Resource Group">
      Resource Group
     </label>
    </div>
    <div class="group-250-5521" name="Group">
     <div class="group-250-5522" name="Group">
     </div>
     <img class="vector-250-5523" src="assets/images/Core/base-line-list-final/vector-250_5523.svg"/>
     <label class="text-250-5525" type="text" value="March 01,2023  10:33 AM">
      March 01,2023  10:33 AM
     </label>
     <label class="text-250-5526" type="text" value="Created On">
      Created On
     </label>
    </div>
    <div class="group-250-5527" name="Group">
     <button class="btn--5528" type="button">
      <img class="vector-250-5530" src="assets/images/Core/base-line-list-final/vector-250_5530.svg"/>
     </button>
     <button class="btn--5534" type="button">
      <img class="vector-250-5536" src="assets/images/Core/base-line-list-final/vector-250_5536.svg"/>
     </button>
    </div>
   </div>
   <div class="group-250-5540" name="Group">
    <select class="dropdown-250-5541">
     <option selected="" value="">
      Link To
     </option>
    </select>
   </div>
   <div class="group-250-5548" name="Group">
    <div class="group-250-5549" name="Group">
     <div class="group-250-5550" name="Group">
      <div class="group-250-5551" name="Group">
      </div>
      <img class="vector-250-5552" src="assets/images/Core/base-line-list-final/vector-250_5552.svg"/>
      <label class="text-250-5554" type="text" value="Description">
       Description
      </label>
     </div>
     <label class="text-250-5555" type="text" value="The schedule is being created, with Transition scale of 3, and Ratio scale of 1.  The shift duration can vary from 5 to 10 hours. The latest start for a shift is 2 PM.">
      The schedule is being created, with Transition scale of 3, and Ratio scale of 1.  The shift duration can vary from 5 to 10 hours. The latest start for a shift is 2 PM.
     </label>
    </div>
    <label class="text-250-5556" type="text" value="*The current shift data statistics show there is a good chance to find an optimal result.by optimising via what-if analysis.">
     *The current shift data statistics show there is a good chance to find an optimal result.by optimising via what-if analysis.
    </label>
   </div>
   <div class="group-250-5557" name="Group">
    <button class="btn--5558" type="button">
     <img class="vector-250-5560" src="assets/images/Core/base-line-list-final/vector-250_5560.svg"/>
    </button>
    <button class="btn--5563" type="button">
     <img class="vector-250-5565" src="assets/images/Core/base-line-list-final/vector-250_5565.svg"/>
    </button>
    <button class="btn--5568" type="button">
     <img class="vector-250-5570" src="assets/images/Core/base-line-list-final/vector-250_5570.svg"/>
    </button>
    <button class="btn--5577" type="button">
     <img class="vector-250-5579" src="assets/images/Core/base-line-list-final/vector-250_5579.svg"/>
    </button>
    <button class="btn--5583" type="button">
     <img class="vector-250-5585" src="assets/images/Core/base-line-list-final/vector-250_5585.svg"/>
    </button>
    <button class="btn--5589" type="button">
     <img class="vector-250-5591" src="assets/images/Core/base-line-list-final/vector-250_5591.svg"/>
    </button>
   </div>
   <div class="group-250-5593" name="Group">
    <img class="vector-250-5594" src="assets/images/Core/base-line-list-final/vector-250_5594.svg"/>
    <label class="text-250-5608" type="text" value="Base Line Name ABCD">
     Base Line Name ABCD
    </label>
   </div>
   <img class="vector-250-5609" src="assets/images/Core/base-line-list-final/vector-250_5609.svg"/>
   <div class="group-250-5610" name="Group">
    <div class="group-250-5611" name="Group">
    </div>
    <img class="vector-250-5612" src="assets/images/Core/base-line-list-final/vector-250_5612.svg"/>
    <label class="text-250-5620" type="text" value="Lorem ipsum dolor sit amet consectetur. Elementum nisl facilisis...
">
     Lorem ipsum dolor sit amet consectetur. Elementum nisl facilisis...
    </label>
    <button class="btn--5621" type="button">
     <img class="vector-250-5623" src="assets/images/Core/base-line-list-final/vector-250_5623.svg"/>
    </button>
   </div>
   <label class="text-250-5625" type="text" value="Collaborators">
    Collaborators
   </label>
  </div>
 </div>
 <div class="group-250-5626" name="Group">
  <label class="text-250-5628" type="text" value="©2021 polarishealth.ai- All Rights Reserved.">
   ©2021 polarishealth.ai- All Rights Reserved.
  </label>
 </div>
</div>
